<div class="marquee font-bold bg-[#8095db] text-[#f1ecb8]">
    @for (message of repeatedMessages; track message.id) {
    <div class="marqueeitem">{{ message.message }}</div>
    }
</div>

<!-- Contenedor principal para el layout -->
<div class="main-container bg-[#8095db]">

    <!-- Header -->
    <div class="header bg-auto bg-center h-[100%] pt-4 pr-16 pb-0 pl-16 flex justify-center items-center">
        <!-- <app-header></app-header> -->
        <img src="https://i.imgur.com/Nb5RBAe.png" class="w-[400px] flotante" draggable="false">
    </div>

    <!-- Contenedor del contenido principal -->
    <!-- <div class="content-container pr-16 pb-0 pl-16">

        <main class="main-content pt-3 pb-3 items-center">
        </main>

    </div> -->

    <!-- Barra Sticky en el Bottom -->
    <div class="sticky-radio-player">
        <app-radio-player></app-radio-player>
    </div>

</div>

<ng-template [(tuiPreviewDialog)]="open">
    <tui-preview>
        <tui-preview-title>{{ titles[index] }}</tui-preview-title>
        <tui-preview-pagination [length]="length" [(index)]="index" />

        <button iconStart="@tui.x" tuiIconButton tuiPreviewAction type="button" (click)="open = false">
            Close
        </button>

        <img *polymorpheusOutlet="content[index] as src" alt="preview" [src]="src" />
    </tui-preview>
</ng-template>