<!-- <div class="marquee font-bold bg-black text-white p-2">
    @for (message of repeatedMessages; track message.id) {
    <div class="marqueeitem text-[12px]">{{ message.message }}</div>
    }
</div> -->

<div class="main-container bg-black">

    <!-- Header -->
    <div class="header bg-auto bg-center h-[500px] pt-4 pr-16 pb-0 pl-16 flex justify-center items-center">
        <img src="https://habbofont.net/font/asian/radiobobba.gif" draggable="false" alt="">
    </div>

    <!-- Contenedor del contenido principal
    <div class="content-container pr-16 pb-0 pl-16">

        <main class="main-content pt-3 pb-3 items-center text-center text-white">
            <p class="text-xl">¡Estamos preparando una nueva versión!<br></p>
            <p class="text-[10px]">-Equipo de Radiobobba</p>
        </main>

    </div> -->

    <!-- Barra Sticky en el Bottom -->
    <div class="sticky-radio-player text-white">
        <app-radio-player></app-radio-player>
    </div>

</div>